<h2 class="page-header">Devices</h2>

    <div data-ng-show="successful" class="alert alert-success">{{ message }}</div>
    <div data-ng-show="failure" class="alert alert-warning">{{ message }}</div>


    <button class="btn btn-info" data-ng-click="create()" data-target="#device_form" data-toggle="modal">New Device</button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Device Location</th>
                <th>Type</th>
                <th>Driver Location</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="device in devices">
                <td>{{ device.name }}</td>
                <td>{{ device.deviceLocation }}</td>
                <td>{{ device.type }}</td>
                <td>{{ device.driverLocation }}</td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="device_form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ title }} Device</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="deviceName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="deviceName" placeholder="Name" data-ng-model="device.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deviceLocation" class="col-sm-2 control-label">Device Location</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="deviceLocation" placeholder="Device Location" data-ng-model="device.deviceLocation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deviceType" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="deviceType" placeholder="Type" data-ng-model="device.type">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deviceDriverLocation" class="col-sm-2 control-label">Driver Location</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="deviceDriverLocation" placeholder="Driver Location" data-ng-model="device.driverLocation">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-ng-click="save()" data-dismiss="modal">{{ action }}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->