<h1>News</h1>
        <p>Here you can find all the latest news of PiAutomation and how it's all going.</p>

<div class="panel panel-info" data-ng-repeat="newsItem in news">
    <div class="panel-heading">{{newsItem.heading}}</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="point in newsItem.points">{{point}}</li>
        </ul>
    </div>
    <div class="panel-footer">{{newsItem.date}}  {{newsItem.id}}</div>
</div>

<div class="pagination center">
    <ul>
        <li ng-repeat="n in [1,pageCount] | range">
            <a href="#" ng-click="loadPage(n)">{{n}}</a>
        </li>
    </ul>
</div>