<h2 class="page-header">Events</h2>

<div data-ng-show="successful" class="alert alert-success">{{ message }}</div>
<div data-ng-show="failure" class="alert alert-warning">{{ message }}</div>

<a class="btn btn-info" href="#/events/create">New Event</a>

<!--
eventType: Number,
deviceInput: schema.Types.ObjectId,
deviceOutputs: [ schema.Types.ObjectId ],
when: Number,
repeat: Boolean,
value: Number

name: String,
deviceLocation: String,
type: String,
dateAdded: { type: Date, default: Date.now },
value: Number,
input: Boolean -->

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Event Type</th>
        <th>Device Input</th>
        <th>Device Outputs</th>
        <th>When</th>
        <th>Repeat</th>
        <th>Value</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="event in events">
        <td>{{ event.eventType }}</td>
        <td><table class="table">
            <tbody>
            <tr>
                <th>Name: </th><td>{{ event.deviceInput.name }}</td></tr>
            <tr>
                <th>Device Location: </th><td>{{ event.deviceInput.deviceLocation }}</td></tr>
            <tr>
                <th>Type: </th><td>{{ event.deviceInput.type }}</td></tr>
            <tr>
                <th>Input: </th><td>{{ event.deviceInput.input }}</td>
            </tr>
            </tbody>
        </table></td>
        <td><table class="table">
            <tbody data-ng-repeat="output in event.deviceOutputs">
                <tr>
                    <th>Name: </th><td>{{ output.name }}</td>
                    </tr>
                <tr>
                    <th>Device Location: </th><td>{{ output.deviceLocation }}</td></tr>
                <tr>
                    <th>Type: </th><td>{{ output.type }}</td></tr>
                <tr>
                    <th>Input: </th><td>{{ output.input }}</td>
                </tr>
            </tbody>
        </table></td>
        <td>{{ event.when }}</td>
        <td>{{ event.repeat }}</td>
        <td>{{ event.value }}</td>
        <td><a class="btn btn-info" href="#/event/edit/{{event.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
    </tr>
    </tbody>
</table>
