<h2 class="page-header">Devices</h2>

<div data-ng-show="successful" class="alert alert-success">{{ message }}</div>
<div data-ng-show="failure" class="alert alert-warning">{{ message }}</div>

<a class="btn btn-info" href="#/devices/create">New Device</a>

<!--
name: String,
deviceLocation: String,
type: String,
dateAdded: { type: Date, default: Date.now },
value: Number,
input: Boolean
-->

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Device Location</th>
        <th>Type</th>
        <th>Date Added</th>
        <th>Value</th>
        <th>Input</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="device in devices">
        <td>{{ device.name }}</td>
        <td>{{ device.deviceLocation }}</td>
        <td>{{ device.type }}</td>
        <td>{{ device.dateAdded }}</td>
        <td>{{ device.value }}</td>
        <td>{{ device.input }}</td>
        <td><a class="btn btn-info" href="#/devices/edit/{{device.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
    </tr>
    </tbody>
</table>
