<h2 class="page-header">Device Action Details</h2>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="deviceName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="deviceName" placeholder="Name" data-ng-model="deviceAction.pin">
        </div>
    </div>
    <div class="form-group">
        <label for="deviceLocation" class="col-sm-2 control-label">Device Location</label>
        <div class="col-sm-10">
            <select class="form-control" id="deviceLocation" data-ng-model="deviceAction.action" data-ng-options="a.text for a in actions">

            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="deviceType" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="deviceType" placeholder="Type" data-ng-model="deviceAction.affectedDeviceIds">
        </div>
    </div>
    <div class="form-group">
        <button data-ng-click="save()">{{action}}</button>
    </div>
</form>