<h2 class="page-header">Devices Actions</h2>

<div data-ng-show="successful" class="alert alert-success">{{ message }}</div>
<div data-ng-show="failure" class="alert alert-warning">{{ message }}</div>

<a class="btn btn-info" href="#/deviceActions/create">New Device</a>
<button class="btn btn-warning" data-ng-click="fire()">Fire Off</button>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Pin</th>
        <th>Action</th>
        <th>Affected Devices</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="device in deviceActions">
        <td>{{ device.pin }}</td>
        <td>{{ device.action }}</td>
        <td>{{ device.affectedDevices }}</td>
        <td><a class="btn btn-info" href="#/deviceActions/edit/{{device._id}}"><span class="glyphicon glyphicon-pencil"></span></a> |
            <!-- <form method="post" action="#/delete/{{device._id}}" style="display: inline-block"><button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span></button></form> --></td>
    </tr>
    </tbody>
</table>
